<div class="pagination">
  <%= link_to 'Previous', numbers_path(page: @page - 1, quantity: @quantity), class: "btn btn-primary" unless @page == 0 %>
  <%= link_to "1", numbers_path(page: 0, quantity: @quantity), class: "btn btn-primary" unless @page == 0 %>

  <% previous_page_links.each do |link| %>
    <%= link_to link + 1, numbers_path(page: link, quantity: @quantity), class: "btn btn-primary" %>
  <% end %>

  <span class="current-page"> <%= @page + 1 %> </span>

  <% next_page_links.each do |link| %>
    <%= link_to link + 1, numbers_path(page: link, quantity: @quantity), class: "btn btn-primary" %>
  <% end %>

  <%= link_to @last_page + 1, numbers_path(page: @last_page, quantity: @quantity), class: "btn btn-primary" unless @page >= @last_page %>
  <%= link_to "Next", numbers_path(page: @page + 1, quantity: @quantity), class: "btn btn-primary" unless @page == @last_page %>
</div>
