<div class="container">
  <div class="search">
    <%= form_tag numbers_path, class: "numbers-form" do %>
      <div class="form-control">
        <label>Result per page
          <%= number_field_tag 'quantity', @quantity, within: 1...10000 %>
        </label>
        <%= submit_tag 'Save', class: "btn" %>
      </div>
      <%= render 'pagination' %>
    <% end %>
  </div>
  <ul class="list">
    <% @numbers.each do |num| %>
      <li class="number-output"><%= to_word(num) %></li>
      <div class="spacer"></div>
    <% end %>
  </ul>
</div>
