a {
  text-decoration: none;
}
ul {
  list-style: none;
}
label {
  color: #fff;
}
.list {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 5px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #595959;
  color: #ecf0f1;
  transition: background-color .3s;
  cursor: pointer;
}
.current-page {
  display: inline-block;
  padding: 5px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #adadad;
  color: #000;
  transition: background-color .3s;
}
.pagination {
  display: flex;
}
.numbers-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #bd5959;
  padding: 5px;
  align-items: center;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.44);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.44);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.44);
}
.number-output {
  font-size: 14px;
}
.spacer {
  margin: 10px;
}
